@use 'fonts';

// Colors
$darkBlue: hsl(233, 26%, 24%);
$pinkBright: hsl(300, 100%, 87%);
$grayDark: #394867;
$semiWhite: #F1F6F9;
$purpleBlue: #3137e6;
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Layout Sizes
$small: 375px;
$medium: 1024px;
$large: 1366px;
$xlarge: 1920px;